name: Download Crowdin Translations
permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Download translations and create PR
        uses: crowdin/github-action@5587c43063e52090026857d386174d2599ad323b
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          create_pull_request: true
          export_only_approved: true
          pull_request_title: "New translations from Crowdin"
          pull_request_body: "Completed translations have been downloaded."
          localization_branch_name: crowdin-translations
          pull_request_base_branch_name: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
